*{
  font-size:16px;
  line-height:28px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #72717C;
  opacity: 1; /* Firefox */
}
.content-cell h1 {
  color: var(--primary-dark-color, #034A6B);
}
.primary-color {
  color: var(--primary-color, #046A99) !important;
}
.padding-y {
  padding: 2rem 0 2rem 0;
}
/*.site-search {
  margin: 1rem 0;
}*/
.filter-sort {
  margin: 3rem 0;
}
.filter-sort label {
  font-weight: bold;
  margin: 0 .5rem 0 0;
}
#sort {
  color: var(--primary-color, #046A99);
}

.line-clamp-5 p{
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical; 
  overflow: hidden;
}

#dataset-description p.expanded {
  -webkit-line-clamp: 100;
}
.btn-read-more {
  /*color: var(--primary-color, #727272);*/
  color: #727272;
  margin: 1rem 0;
  cursor: pointer;
}
.btn-read-more svg {
  pointer-events: none;
}
.dataset-info-label {
  color: #4B4B4B;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
  padding: 0 0 1rem 0;
}
.dataset-info {
  font-size: 1rem;
}
.dataset-info .dataset-icon {
  padding-right:1rem;
  position:relative;
  top:0.7rem;
}
.dataset-info .dataset-icon svg {
  width:2.5rem;
}
.thin {
  font-weight:100;
}
.resource-linkgrid {
  margin: 1rem 0 2rem 0;
}
.dataset-info li {
  text-overflow: ellipsis;
}
/*.dataset-info-topic-list li {
  list-style: disc;
  margin-left: 2rem;
  border: none;
  padding: 0.25rem 0;
  font-size: 1rem;
}
.topic-info {
  font-size: 1rem;
  border: 0px;
}
.topic-info li {
  border: 0px;
}*/

.two-col {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.icon-col {
  padding-top: .5rem;
}
.three-col {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  gap: 1rem;
}
.card-block {
  display: grid;
  grid-template-columns: 2.5rem 1fr;
  grid-gap: 0.5rem;
  /* removed style
  background: var(--white, #FFFFFF);*/
  padding: 1.25rem 1.5rem;
  border-radius: 0.5rem;
  margin: 0.5rem;
  background: #fafafa;
  border: 1px solid #D4D4D7;
}
.card-block a {
  font-weight: bolder;
  line-height: 2.5;
}
.card-block p:nth-last-child(1) {
  margin: 0;
  padding: 0;
}
.topic-qty {
  font-weight: bold;
}
.tags {
  margin-top: 3rem;
  word-break: break-all;
}
data-tags {
  list-style: none;
}
.data-tags li {
  margin-left: .5rem;
  display: inline;
}
.data-tags li:nth-child(1) {
  margin-left: 0;
}
.data-files, .supporting-files  {
  margin-top: 3rem;
}
.data-files-table th, .supporting-files-table th  {
  white-space: nowrap;
}
table td {
  white-space:nowrap;
}
table th:nth-child(1) {
  white-space: normal;
  width: 250px;
  max-width: 350px;
  min-width: 100px;
}
table td:nth-child(1) {
  white-space:normal;
  min-width: 370px;
}

table.data-files-table, table.supporting-files-table {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 1px;
  border-color: #a19fa7;
  border-style: solid;
  color: #000000;
  text-align: left;
}
table.data-files-table td,
table.data-files-table th,
table.supporting-files-table td,
table.supporting-files-table th {
  border-width: 1px;
  border-color: #a19fa7;
  border-style: solid;
  padding: .5rem 1rem;
  vertical-align: top;
}
.data-files-table thead, .supporting-files-table thead{
  background: #EDEDED;
}
.nav-breadcrumb {  
  margin: 2rem 0rem 5rem 1.1rem;
  padding: 0 var(--s-.5, 1rem) 2rem var(--s-.5, 1rem);
  font-size: 1rem;
  /*text-transform: capitalize;*/
}
.nav-breadcrumb ol {
  list-style: none;
}
.nav-breadcrumb ol li {
  display: inline;
  margin: 0;
  padding: 0;
}
.nav-breadcrumb ol li::after {
  content: '/';
  padding: 0 0.5rem;
}
.nav-breadcrumb ol li:last-child::after {
  content: '';
  padding: 0;
}
#sortresults select {
  color: var(--primary-color, #046A99)!important;
}
.search-filters {
  list-style: none;
}
.search-filters>li {
  border-bottom: 1px solid #cecece;
  color: var(--primary-color);
}

.sublist {
  list-style:none;
  padding-top: 16px;
}
.sublist>li {
  padding-left: 0px;
}
.page-navigation {
  padding-top: 2rem;
  float: left;
}
.page-previous, .page-current, .page-next {
  padding: .25rem .75rem;
  border: 1px solid #cecece;
  text-decoration: none;
  line-height: 0;
  border-radius: 3px;
  margin: .25rem;
}
.page-previous:hover, .page-next:hover {
  color: white;
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.page-current {
  color: white;
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.page-dots {
  color: var(--primary-color);
  padding: 0 .25rem;
}
.result-dataset-info {
  list-style: none;
  margin-bottom: .25rem;
}
.result-dataset-info li {
  margin: 0;
}
/* Filter Toggles */
.filter-topic,
.filter-publisher,
.filter-format,
.filter-tag {
height: 100%;
overflow: hidden;
cursor: pointer; 
}

.filter-expanded {
  height: 100%;
}

ul.align li,
ul.align ul {
    margin-left: 0px;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(140, 140, 140, 0.45); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 1.5rem;
  width: 60%;
  border-radius: 6px;
  max-width: 700px;
}
.modal-content label {
  font-weight: bold;
}
.modal-content h2 {
  margin: 0;
}
.modal-content input {
  font-family:Monaco, Menlo, Consolas, "Courier New", monospace;
}
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  border-radius: 50%;
  height: 42px;
  width: 42px;
  text-align: center;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  background: #f5f5f5;
  line-height: unset;
}
.input-group {
  list-style: none;
  padding: 0;
  margin: 2rem 0 0 0;
}
.input-group li {
  padding: 0;
  margin: 0;
  display: flex;
  place-items: center;
  padding: .25rem;
}
.input-group label {
  min-width: 120px;
  display: inline-block;
}
.input-group input {
  height: 3rem;
  width: 90%;
  background: #FAFAFA;
  border: 1px solid #D4D4D4;
  box-sizing: border-box;
  border-radius: 6px 0px 0px 6px;
  padding: 16px 0 16px 16px;
  margin: 0;
}

.input-group input:hover,
.input-group input:focus {
  background: #ffffff;
  outline: 0px solid var(--primary-color);
  padding: 16px 0 16px 16px;
  border: 1px solid var(--primary-color);
}

.input-group button:focus {
  padding: .575rem;
  background: #ffffff;
  border: 2px solid var(--primary-color);
  border-left: 2px solid var(--primary-color);
  margin-left: -1px;
  outline: 1px!important;
}
.copy-button {
  height: 3rem;
  width: 48px;
  padding: .5rem;
  background: #FAFAFA;
  margin: 0;
  border: 1px solid #D4D4D4;
  border-left: 1px solid #D4D4D4;
  border-radius: 0px 5px 5px 0px;
  line-height: 0;
  position: relative;
}
.copy-button svg {
  pointer-events: none;
}

.copy-button:active, .copy-button:focus {
  width: 48px;
  background: #ffffff;
  border: 1px solid var(--primary-color);
  border-left: 2px solid var(--primary-color);
  outline: 0px solid var(--primary-color);
  margin-left: -2px;
}
.copy-button:focus {
  width: 48px;
  background: #ffffff;
  border: 1px solid var(--primary-color);
  border-left: 2px solid var(--primary-color);
  margin-left: -2px;
}
.copy-button:hover {
  background: #f5f5f5;
  border: 1px solid #A09FA7;
  border-left: 2px solid #A09FA7;
  padding-right: 9px;
}
.api-button {
  color: var(--primary-color);
  text-decoration: underline;
  cursor: pointer;
}
.api-button:hover {
  color: var(--primary-dark-color);
}

button.copied::before {
  background: #000;
  content: '';
  padding: 6px;
  position: absolute;
  transform: rotate(45deg);
  bottom: 95%;
  left: 13px;
}

button.copied::after {
  content: 'Copied!';
  position: absolute;
  border-radius: 4px;
  padding: 14px 8px 14px 8px;
  bottom: 100%;
  left: -10px;
  background: #000;
  color: white;
  font-size: .75rem;
}

/* CSV Preview table 
.MuiDataGrid-root .MuiDataGrid-columnHeaderTitle {
  overflow: unset !important;
  font-weight: 500!important;
  white-space: nowrap!important;
  text-overflow: unset!important;
}*/
.MuiTablePagination-toolbar {
  align-items: baseline;
}

.content-container {
  margin: 0 auto 8rem auto;
  width: 80%;
}
.site-header .search-container .site-search .search-textfield {
  background: #f6f6f6;
  width: 32px;
  padding: 0!important;
  border: 0;
  z-index: 10;
  margin-right: -32px;
  opacity: 0;
  cursor: default;
}

.site-header .search-container .site-search:focus-within .search-textfield {
  width: 100%;
  padding: 10px !important;
  border: 1;
  z-index: 0;
  margin-right: 0;
  opacity: 1;
  cursor: text;
}

#dataset-description .description  {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical; 
  overflow: hidden;
  margin-bottom: .5rem;
}

.data-files-table .resource-description p, .supporting-files-table .resource-description p  {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical; 
  overflow: hidden;
  margin-bottom: .5rem;
}

.additional-info-table .resource-description p {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical; 
  overflow: hidden;
  margin-bottom: .5rem;
}

.expanded {
  -webkit-line-clamp: 100 !important;
}
.caret {
  margin-left: 0.5rem;
  margin-top: -0.25rem;
  pointer-events: none;
}
.cart svg {
  width: 16px;
}
.rotate-180 svg{
  transform: rotate(180deg);
}
.rotate-90{
  transform: rotate(90deg);
  margin-bottom: 2px;
}
.rotate-270{
  transform: rotate(270deg);
  margin-bottom: 2px;
}
/* Drop down styling */
.svg-rotate-up{
  transform: rotate(-180deg);
  transition: transform 250ms linear;

}
.svg-rotate-down{
  transform: rotate(-360deg);
  transition: transform 250ms linear;
}
/* Checkbox styling */
input[type=checkbox] {
  accent-color: #046A99;
}
/*********************/


.resource-description .btn-read-more {
  margin: 0 0 .5rem 0;
}
.additional-info  {
  margin-top: 3rem;
}

.additional-info-table tbody tr{
  vertical-align: top;
  padding: 1rem 0 1rem 0;
  border-bottom: 1px solid #cecece;
}
.additional-info-table strong {
  color: #4B4B4B;
  font-size: 1.2rem;
}

.additional-info h2 {
  color: #4B4B4B;
  font-size: 1.5rem;
  padding-bottom: .5rem;
  border-bottom: 1px solid #4B4B4B;
  margin-bottom: 0;
}
.additional-info-table {
  display: grid;
}
.additional-info-table .row {
  display: grid;
  min-height: 100px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  border-bottom: 1px solid #4B4B4B;
}
.additional-info-table .row:last-child {
  border-bottom: 0;

}
  .additional-info-table .column {
  padding: .5rem 0;
  font-size: 1.2rem;
}
.additional-info-table .column p {
  font-size: 1.2rem;
  color: #4B4B4B;
}
.border-bottom {
  border-bottom: 1px solid #727272;
}

.side-navigation {
  list-style: none;
}
.side-navigation li {
  padding: 1rem 0;
  border-bottom: 1px solid #DEDEDE;
  margin: 0;
}
#page-navigation-label {
  padding-bottom: 1rem;
  border-bottom: 1px solid #DEDEDE;
}
.cagov-article h1 {
  margin-top: 0;
  color: var(--primary-color-dark, #034A6B);
}
.small-text {
  font-size: 1rem;
}
.list-reset {
  padding-top: calc(var(--s-2) + var(--ratio));
}
.list-reset li {
  list-style: disc;
}
.page-container-centered {
  margin: 0 auto;
  width: 90%;
  max-width: 876px;
}
.svg-container {
  padding: 1rem 0;
  margin: 0 auto;
  width: 90%;
  max-width: 230px;

}
.page-container-centered svg{
  max-width: 230px;
}
.contact-form {
  display: grid;
  grid-template-rows: .5fr .5fr 1fr;
  margin-bottom: 8rem;
}
.contact-form label {
  margin-bottom: 1rem;
}
.contact-form input[type=text] {
  width: 100%;
  max-width: 568px;
}
.contact-form input[type=text], textarea {
  display: grid;
  grid-template-rows: 1fr 1fr;
  border: 1px solid var(--gray-300, #e1e0e3);
  border-radius: 5px;
  margin-top: .25rem;
}
.contact-button {
  background: var(--primary-color);
  color: var(--white, #fff)!important;
  padding: 0.5556rem;
  margin: 0 0 1rem 0;
  border-radius: 0.2778rem;
  font-weight: 700;
  display: inline-block;
  border: none;
  text-decoration: none;
  max-width: 125px;
}
.contact-button:hover {
  background-color: var(--primary-hover-color);
}
.organization-table {
  border: 1px solid #d4d4d4;
}
.organization-row {
  display: grid;
  grid-template-columns: 1fr 100px;
  width: 100%;
  border-bottom: 1px solid #d4d4d4;
  line-height: 2rem;
}
.organization-row:last-child {
  border: 0px;
}
.organization-table-header {
  background: #EDEDED;
  font-weight:600;
}
.organization-column {
  padding: 0 .5rem;
}
.organization-column:first-child {
  border-right: 1px solid #d4d4d4;
}
/* removed styles due to overlaps within all code-- hd
.topics-page .card-block {
  background: #FAFAFA;
  border: 1px solid #D4D4D7;
}*/
.topics-page h3.h4 {
  margin-top: 0;
}
.home-page h3.h4 {
  margin-top: 0;
}
.page-container-ds-alternative {
  max-width: var(--w-lg, 1176px);
  width: 98%;
  padding: 2rem 0;
}
@media (max-width: 767px) {
  .page-container-ds.margin-right-clear {
    margin-right: 0px!important;
  }
}

.dataset-description-table {
  display: grid;
  grid-template-columns: auto 1fr;
  /*grid-template-columns: repeat(auto-fill, 1fr);*/
  grid-row-gap: .8rem;
  grid-column-gap: 3rem;
}
.dataset-label {
  font-weight: bold;
  font-size: 1.12rem;
  letter-spacing: .5px;
}

/* home page banner */
.home-page .cagov-featured-section {
  height: auto;
}
.home-page .cagov-featured-section p {
  max-width:25em;
  margin-bottom:2.5em;
}
.home-page .cagov-featured-section .search-textfield {
  width:86%;
}

@media (min-width: 767px) {
  .home-page .wp-block-ca-design-system-hero {
    background-image: url(/images/hero-circles-2.svg), linear-gradient(90deg, rgba(0,79,116,1) 0%, rgba(4,106,153,1) 44%);;
    background-repeat: no-repeat;
    background-position: right 16% top 1em, 0% 0%;
    background-size:auto 120%, auto;
  }
  .home-page .cagov-featured-section .search-textfield {
    width:60%;
  }
}

@media (min-width: 1024px) {
  .home-page .wp-block-ca-design-system-hero {
    background-image: url(/images/hero-circles-1.svg),  url(/images/hero-circles-2.svg), linear-gradient(90deg, rgba(0,79,116,1) 0%, rgba(4,106,153,1) 44%);;
    background-repeat: no-repeat;
    background-position: right 45% top -3.2em, right 16% top 1em, 0% 0%;
    background-size:auto 85%, auto 120%, auto;
  }
  .home-page .cagov-featured-section .search-textfield {
    width:60%;
  }
}
.home-page .cagov-featured-sidebar {
  max-width:none;
}
.cagov-card {
  align-items: start;
}
.cagov-card .card-text {
  font-weight: 600;
}
/*Homepage cardblocks*/
.cagov-bkgrd-gry .two-col .card-block{
  background: #ffffff;
}
/*Homepage marketing card to grey*/
.cagov-bkgrd-gry .two-col .card-marketing{
  background: #EDEDED;
}
/*Marketing card */
.card-marketing {
grid-template-columns: 9.5rem 2fr;
margin: 0rem;
padding: 1.3rem;
border: none;
background: #ffffff;
}
.card-marketing .content  {
  padding-left: 1.3rem;
  } 
.card-marketing .content h3 {
    color: #034A6B;
    } 
.card-marketing .content p {
      font-weight: 600
    }    
.card-marketing .content a {
    line-height: 0; 
  }
 .inverted{
  background:#ffffff;
 } 
  .lead-text {
    font-size: 2.1rem;
    line-height: 48px;
    margin-bottom: 1.5rem; 
  }
  .Home_container__bCOhY ul {
    margin-bottom: 3.5rem;
  }
  .contact-form label {
  font-weight: 600;
  }
  .contact-form select {
    display: grid;
    grid-template-rows: 1fr 1fr;
    border: 1px solid var(--gray-300, #e1e0e3);
    border-radius: 5px;
    margin-top: .25rem;
    width: 100%;
    max-width: 595px;
    padding: 0.5rem;
  }
  .contact-form input[type=text], textarea {
    padding: 0.5rem;
    max-width: 595px;
  }
  .contact-form label {
    margin-bottom: 2.1rem;
  }
  .page-container-ds {
    padding-left: 0.4rem;
}
