* {
  font-size:16px;
  line-height:30px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #72717C;
  opacity: 1; /* Firefox */
}
.content-cell h1 {
  color: var(--primary-dark-color, #034A6B);
}
.primary-color {
  /*color: var(--primary-color, #034A6B) !important;-----this is the wrong color should be #034A6B -per SR*/
  color:#034A6B!important;
}
.padding-y {
  padding: 2rem 0 2rem 0;
}

.search-textfield {
  width: 100%;
  max-width: 876px;
  height: 49px;
  color: rgb(255, 255, 255);
  border: 1px solid var(--primary-color, #046A99);
  padding: 0.5rem;
  border-radius: 0.25rem
}
.search-textfield:focus {
  outline: 2px solid var(--highlight-color, #fbad23);
}
.filter-sort {
  margin: 2rem 0;
}
.filter-sort label {
  font-weight: bold;
  margin: 0 .5rem 0 0;
}
#sort {
  color: var(--primary-color, #046A99);
}

.line-clamp-5 p{
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical; 
  overflow: hidden;
}

#dataset-description p.expanded {
  -webkit-line-clamp: 100;
}
.btn-read-more {
  font-size: 18px;
  color: #727272;
  margin: 0 0 1rem 0;
  cursor: pointer;
}
.btn-read-more svg {
  pointer-events: none;
}
.dataset-info-label {
  color: #4B4B4B;
  font-weight: bold;
  font-size: 1.125rem;
  margin-bottom: 1rem;
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
  padding: 1rem 0 .5rem 0;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 0.5rem;
  
}
.dataset-info {
  font-size: 1rem;
}
/*.dataset-info .dataset-icon {
  padding-right:1rem;
  position:relative;
  top:0.7rem;
}*/
.dataset-info .dataset-icon svg {
  width: 2.0625rem;
}
.thin {
  font-weight:100;
}
.resource-linkgrid {
  margin: 1rem 0 2rem 0;
}
.dataset-info li {
  text-overflow: ellipsis;
}
/*.dataset-info-topic-list li {
  list-style: disc;
  margin-left: 2rem;
  border: none;
  padding: 0.25rem 0;
  font-size: 1rem;
}
.topic-info {
  font-size: 1rem;
  border: 0px;
}
.topic-info li {
  border: 0px;
}*/

.two-col {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.icon-col {
  padding-top: .5rem;
}
.three-col {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  gap: 1rem;
}
.card-block {
  display: grid;
  grid-template-columns: 2.5rem 1fr;
  grid-gap: 0.5rem;
  /* removed style
  background: var(--white, #FFFFFF);*/
  padding: 1.25rem 1.5rem;
  border-radius: 0.5rem;
  margin: 0.5rem;
  background: #fafafa;
  border: 1px solid #fafafa;
  color:#4B4B4B;
}
.topics-page .card-block {
  border: 1px solid #d4d4d4;
}
.card-block a {
  font-weight: bolder;
  line-height: 2.5;
}
.card-block p:nth-last-child(1) {
  margin: 0;
  padding: 0;
}
a.card-block {
  text-decoration: none;
}
a.card-block:hover, a.card-block:active {
  border: 1px solid #A4A4A4;
  color:#4B4B4B;
}
.results-page > .sidebar-container {
  margin-top: 273px;
}
@media (max-width: 839px) {
  
  .results-page > .sidebar-container {
    margin-top: 0px;
  }
  .home-page .two-col, .topics-page .two-col {
    grid-template-columns: 1fr;
  }
}
.topic-qty {
  font-weight: bold;
}
.tags {
  margin-top: 3rem;
  word-break: break-all;
}
data-tags {
  list-style: none;
}
.data-tags li {
  margin-left: .5rem;
  display: inline;
}
.data-tags li:nth-child(1) {
  margin-left: 0;
}
.data-files, .supporting-files  {
  margin-top: 2.125rem;
}
@media (max-width: 839px) {
  .data-files, .supporting-files  {
    overflow-x: auto;
    position: relative;
  }
  /* Add shadow for overflow on data tables
  .shadow {
    position: absolute;
    right: 0;
    z-index: 100;
    width: 25px;
    height: 100%;
    background: linear-gradient(-90deg, #00000015, #ffffff00);
  }*/
  
}
.data-files-table th, .supporting-files-table th  {
  white-space: nowrap;
}
.data-files-table p, .supporting-files-table p  {
  margin-bottom: .125rem;
}


table th:nth-child(1) {
  white-space: normal;
  width: 250px;
  max-width: 350px;
  min-width: 100px;
}
table td:nth-child(1) {
  white-space:normal;
  min-width: 370px;
}

table.data-files-table, table.supporting-files-table {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
  border-width: 1px;
  border-color: #a19fa7;
  border-style: solid;
  color: #000000;
  text-align: left;
}
table.data-files-table td,
table.data-files-table th,
table.supporting-files-table td,
table.supporting-files-table th {
  border-width: 1px;
  border-color: #a19fa7;
  border-style: solid;
  padding: .5rem .5rem;
  vertical-align: top;
}
.data-files-table thead, .supporting-files-table thead{
  background: #EDEDED;
}
.data-files-table a, .supporting-files-table a{
  font-size: 1.125rem;
  line-height: 2rem;
}
.data-files-table a>strong, .supporting-files-table a>strong{
  font-size: 1.125rem;
  line-height: 2rem;
}
table.data-files-table, table.supporting-files-table {
  color: #4b4b44;
 }
 table.data-files-table td,
 table.data-files-table th,
 table.supporting-files-table td,
 table.supporting-files-table th {
   border-color: #d4d4d4!important; ;
  
 }
.nav-breadcrumb {  
  margin: 2rem 1.1rem 4rem 1.1rem;
}
.nav-breadcrumb ol>li {
  font-size: 0.875rem;
  line-height: 	1.625rem;
}
.nav-breadcrumb ol>li>a {
  font-size: 0.875rem;
  line-height: 	1.625rem;
}
.nav-breadcrumb ol {
  list-style: none;
}
.nav-breadcrumb ol li {
  display: inline;
  margin: 0;
  padding: 0;
}
.nav-breadcrumb ol li::after {
  content: '/';
  padding: 0 0.5rem;
}

.nav-breadcrumb ol li:last-child::after {
  content: '';
  padding: 0;
}

#sortresults select {
  color: var(--primary-color, #046A99)!important;
}
.search-filters {
  list-style: none;
}
.search-filters>li {
  border-bottom: 1px solid #cecece;
  color: var(--primary-color);
}

.sublist {
  list-style:none;
  padding-top: 16px;
}
.sublist>li {
  padding-left: 0px;
}
.page-navigation {
  padding-top: 2rem;
  float: left;
}
.page-previous, .page-current, .page-next {
  padding: .25rem .75rem;
  border: 1px solid #cecece;
  text-decoration: none;
  line-height: 0;
  border-radius: 3px;
  margin: .25rem;
}
.page-previous:hover, .page-next:hover {
  color: white;
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.page-current {
  color: white;
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.page-dots {
  color: var(--primary-color);
  padding: 0 .25rem;
}
.result-dataset-info {
  list-style: none;
  margin-bottom: .25rem;
}
.result-dataset-info li {
  margin: 0;
}
/* Filter Toggles */
.filter-topic,
.filter-publisher,
.filter-format,
.filter-tag {
height: 100%;
overflow: hidden;
cursor: pointer; 
}

.filter-expanded {
  height: 100%;
}

ul.align li,
ul.align ul {
    margin-left: 0px;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(140, 140, 140, 0.45); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 1.5rem;
  width: 60%;
  border-radius: 6px;
  max-width: 700px;
}
.modal-content label {
  font-weight: bold;
}
.modal-content h2 {
  margin: 0;
}
.modal-content input {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 0.875rem;
  line-height: 2rem;
}
.modal-content > p > a {
  font-size: 1.125rem;
  line-height: 2rem;
}
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  border-radius: 50%;
  height: 42px;
  width: 42px;
  text-align: center;
  line-height: 42px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  background: #f5f5f5;
  line-height: unset;
  line-height: 42px;
}
.input-group {
  list-style: none;
  padding: 0;
  margin: 2rem 0 0 0;
}
.input-group li {
  padding: 0;
  margin: 0;
  display: flex;
  place-items: center;
  padding: .25rem;
}
.input-group label {
  font-size: 1.125rem;
  min-width: 120px;
  display: inline-block;
}
.input-group input {
  height: 3rem;
  width: 90%;
  background: #FAFAFA;
  border: 1px solid #D4D4D4;
  box-sizing: border-box;
  border-radius: 6px 0px 0px 6px;
  padding: 16px 0 16px 16px;
  margin: 0;
}

.input-group input:hover,
.input-group input:focus {
  background: #ffffff;
  outline: 0px solid var(--primary-color);
  padding: 16px 0 16px 16px;
  border: 1px solid var(--primary-color);
}

.input-group button:focus {
  padding: .575rem;
  background: #ffffff;
  border: 2px solid var(--primary-color);
  border-left: 2px solid var(--primary-color);
  margin-left: -1px;
  outline: 1px!important;
}
.copy-button {
  height: 3rem;
  width: 48px;
  padding: .5rem;
  background: #FAFAFA;
  margin: 0;
  border: 1px solid #D4D4D4;
  border-left: 1px solid #D4D4D4;
  border-radius: 0px 5px 5px 0px;
  line-height: 0;
  position: relative;
}
.copy-button svg {
  pointer-events: none;
}

.copy-button:active, .copy-button:focus {
  width: 48px;
  background: #ffffff;
  border: 1px solid var(--primary-color);
  border-left: 2px solid var(--primary-color);
  outline: 0px solid var(--primary-color);
  margin-left: -2px;
}
.copy-button:focus {
  width: 48px;
  background: #ffffff;
  border: 1px solid var(--primary-color);
  border-left: 2px solid var(--primary-color);
  margin-left: -2px;
}
.copy-button:hover {
  background: #f5f5f5;
  border: 1px solid #A09FA7;
  border-left: 2px solid #A09FA7;
  padding-right: 9px;
}
.api-button {
  color: var(--primary-color);
  text-decoration: underline;
  cursor: pointer;
}
.api-button:hover {
  color: var(--primary-dark-color);
}

button.copied::before {
  background: #000;
  content: '';
  padding: 6px;
  position: absolute;
  transform: rotate(45deg);
  bottom: 95%;
  left: 13px;
}

button.copied::after {
  content: 'Copied!';
  position: absolute;
  border-radius: 4px;
  padding: 14px 8px 14px 8px;
  bottom: 100%;
  left: -10px;
  background: #000;
  color: white;
  font-size: .75rem;
}

/* CSV Preview table 
.MuiDataGrid-root .MuiDataGrid-columnHeaderTitle {
  overflow: unset !important;
  font-weight: 500!important;
  white-space: nowrap!important;
  text-overflow: unset!important;
}*/
.MuiTablePagination-toolbar {
  align-items: baseline;
}

.content-container {
  margin: 0 auto 8rem auto;
  width: 80%;
}
@media (max-width: 839px) {
  .content-container {
    width: 90%;
    margin: 0 auto;
  }
}
.site-search-homepage {
  display: flex;
}
.site-header .search-container .site-search .search-textfield {
  background: #f6f6f6;
  width: 32px;
  padding: 0!important;
  border: 0;
  z-index: 10;
  margin-right: -32px;
  opacity: 0;
  cursor: default;
}

.site-header .search-container .site-search:focus-within .search-textfield {
  width: 100%;
  padding: 10px !important;
  border: 1;
  z-index: 0;
  margin-right: 0;
  opacity: 1;
  cursor: text;
}

.line-clamp-1 p  {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; 
  overflow: hidden;
  margin-bottom: .5rem;
}


.expanded {
  -webkit-line-clamp: 100 !important;
}
.caret {
  margin-left: 0.5rem;
  margin-top: -0.25rem;
  pointer-events: none;
}
.cart svg {
  width: 16px;
}
.rotate-180 svg{
  transform: rotate(180deg);
}
.rotate-90{
  transform: rotate(90deg);
  margin-bottom: 2px;
}
.rotate-270{
  transform: rotate(270deg);
  margin-bottom: 2px;
}
/* Drop down styling */
.svg-rotate-up{
  transform: rotate(-180deg);
  transition: transform 250ms linear;

}
.svg-rotate-down{
  transform: rotate(-360deg);
  transition: transform 250ms linear;
}
/* Checkbox styling */
input[type=checkbox] {
  accent-color: #046A99;
  height: 20px;
  width: 20px;
}
/*********************/


.resource-description .btn-read-more {
  margin: 0 0 .125rem 0;
}
.additional-info  {
  margin-top: 3rem;
}

.additional-info-table tbody tr{
  vertical-align: top;
  padding: 1rem 0 1rem 0;
  border-bottom: 1px solid #cecece;
}
.additional-info-table strong {
  color: #4B4B4B;
  /* font-size: 1.2rem;----removed color from table per sr------------*/
}

.additional-info h2 {
  color: #4B4B4B;
  font-size: 1.5rem;
  padding-bottom: 1.25rem;
  border-bottom: 1px solid #d4d4d4;
  margin-bottom: 0;
}
.additional-info-table {
  display: grid;
}
.additional-info-table .row {
  display: grid;
  min-height: 60px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  border-bottom: 1px solid #d4d4d4;
}
.additional-info-table .row:last-child {
  border-bottom: 0;

}
  .additional-info-table .column {
  padding: .5rem 0;
  font-size: 1.2rem;
}
.additional-info-table .column>strong {
  padding: .5rem 0;
  font-size: 1.125rem;
}
.additional-info-table .column p {
  font-size: 1.125rem;
  line-height: 2rem;
}
.additional-info-table .column a {
  font-size: 1.125rem;
  line-height: 2rem;

}
.border-bottom {
  border-bottom: 1px solid #727272;
}

.side-navigation {
  list-style: none;
}
.side-navigation li {
  padding: 1rem 0;
  border-bottom: 1px solid #DEDEDE;
  margin: 0;
}
#page-navigation-label {
  padding-bottom: 1rem;
  border-bottom: 1px solid #DEDEDE;
}
.cagov-article h1 {
  margin-top: 0;
  color: var(--primary-color-dark, #034A6B);
}
.small-text {
  font-size: 1rem;
}
.list-reset {
  padding-top: calc(var(--s-2) + var(--ratio));
}
.list-reset li {
  list-style: disc;
}
.page-container-centered {
  margin: 0 auto;
  width: 90%;
  max-width: 876px;
}
.svg-container {
  padding: 1rem 0;
  margin: 0 auto;
  width: 90%;
  max-width: 230px;

}
.page-container-centered svg{
  max-width: 230px;
}
.contact-form {
  display: grid;
  grid-template-rows: .5fr .5fr 1fr;
  margin-bottom: 8rem;
  max-width: 595px;
}
.contact-form label {
  margin-bottom: 1rem;
}
.contact-form input[type=text] {
  width: 100%;
}
.contact-form input[type=text], textarea {
  display: grid;
  grid-template-rows: 1fr 1fr;
  border: 1px solid var(--gray-300, #e1e0e3);
  border-radius: 5px;
  margin-top: .25rem;
}
.contact-button {
  background: var(--primary-color);
  color: var(--white, #fff)!important;
  padding: 0.5556rem;
  margin: 0 0 1rem 0;
  border-radius: 0.2778rem;
  font-weight: 700;
  display: inline-block;
  border: none;
  text-decoration: none;
  /*max-width: 125px;----removed per sr*/
  max-width: 95px;
  font-size: 1rem; /*added per sr*/
}
.contact-button:hover {
  background-color: var(--primary-hover-color);
}
.organization-table {
  border: 1px solid #d4d4d4;
  max-width: 700px;
}
.organization-row {
  display: grid;
  grid-template-columns: 1fr 100px;
  width: 100%;
  border-bottom: 1px solid #d4d4d4;
  line-height: 2rem;
}
.organization-row:last-child {
  border: 0px;
}
.organization-table-header {
  background: #EDEDED;
  font-weight:600;
}
.organization-column {
  padding: 0.75rem .5rem;
}
.organization-column:first-child {
  border-right: 1px solid #d4d4d4;
}
/* removed styles due to overlaps within all code-- hd
.topics-page .card-block {
  background: #FAFAFA;
  border: 1px solid #D4D4D7;
}*/
.topics-page h3.h4 {
  margin-top: 0;
}
.home-page h3.h4 {
  margin-top: 0;
}
.page-container-ds-alternative {
  max-width: var(--w-lg, 1176px);
  width: 98%;
  padding: 2rem 0;
}
@media (max-width: 767px) {
  .page-container-ds.margin-right-clear {
    margin-right: 0px!important;
  }
}

.preview-heading{
max-width: 876px;
}
.dataset-description-table {
  display: grid;
  grid-template-columns: auto 1fr;
  /*grid-template-columns: repeat(auto-fill, 1fr);*/
  grid-row-gap: .8rem;
  grid-column-gap: 2rem;
  max-width: 876px;
}
.dataset-label {
  font-weight: bold;
  font-size: 1.125rem;
}
.dataset-value {
  font-size: 1.125rem;
}
.dataset-value a {
  font-size: 1.125rem;
}

/* home page banner */
.home-page .cagov-featured-section {
  height: auto;
}
.home-page .cagov-featured-section p {
  max-width:19em;
  margin-bottom:2.5em;
}
.home-page .cagov-featured-section .search-textfield {
  width:86%;
}

@media (min-width: 767px) {
  .home-page .wp-block-ca-design-system-hero {
    background-image: url(/images/hero-circles-2.svg), linear-gradient(90deg, rgba(0,79,116,1) 0%, rgba(4,106,153,1) 44%);;
    background-repeat: no-repeat;
    background-position: right 16% top 1em, 0% 0%;
    background-size:auto 120%, auto;
  }
  .home-page .cagov-featured-section .search-textfield {
    width:60%;
  }
}

@media (min-width: 1024px) {
  .home-page .wp-block-ca-design-system-hero {
    background-image: url(/images/hero-circles-1.svg),  url(/images/hero-circles-2.svg), linear-gradient(90deg, rgba(0,79,116,1) 0%, rgba(4,106,153,1) 44%);;
    background-repeat: no-repeat;
    background-position: right 45% top -3.2em, right 16% top 1em, 0% 0%;
    background-size:auto 85%, auto 120%, auto;
  }
  .home-page .cagov-featured-section .search-textfield {
    width:60%;
  }
}
.home-page .cagov-featured-sidebar {
  max-width:none;
}
/* Preview Table styling */
.MuiDataGrid-columnHeaders {
  background: #EDEDED;
}
.MuiDataGrid-columnHeaderTitle {
  padding: 2px;
  font-weight: bold!important;
  overflow-wrap: break-word!important;
}

/* Header/Nav */
cagov-site-navigation {
  border-bottom: 0px;
  justify-self: end;
}
.cagov-card {
  align-items: start;
}
.cagov-card .card-text {
  font-weight: 600;
}
/*Homepage cardblocks*/
.cagov-bkgrd-gry .two-col .card-block{
  background: #ffffff;
}
/*Homepage marketing card to grey*/
.cagov-bkgrd-gry .two-col .card-marketing{
  background: #EDEDED;
}
/*Marketing card */
.card-marketing {
grid-template-columns: 9.5rem 2fr;
padding-top: 1.8rem;
border-color: rgba(255, 255, 255, 0);
background: #ffffff;
}
.card-marketing .content  {
  padding-left: 1.3rem;
  } 
.card-marketing .content h3 {
    color: #034A6B;
    } 
.card-marketing .content p {
      font-weight: 600
    }    
.card-marketing .content a {
    line-height: 0; 
    font-size:1.125rem;
  }
@media (max-width: 839px) {
  .card-marketing {
    display:block;
  }
  .card-marketing .icon-col {
    width:9.5em;
  }
}
   .inverted{
  background:#ffffff;
 } 
/*Changed color to content cards */ 
 .content {
    color: #4b4b4b !important;
 }
  .lead-text {
    font-size: 1.4375rem;
    line-height: 2.4375rem;
    margin-bottom: 1.5rem; 
  }
.Home_container__bCOhY ul {
    margin-bottom: 3.5rem;
  }
  .contact-form label {
  font-weight: 600;
  }
  .contact-form select {
    display: grid;
    grid-template-rows: 1fr 1fr;
    border: 1px solid var(--gray-300, #e1e0e3);
    border-radius: 5px;
    margin-top: .25rem;
    width: 100%;
    padding: 0.5rem;
  }
  .contact-form input[type=text], textarea {
    padding: 0.5rem;
    width: 100%;
  }
  .contact-form label {
    margin-bottom: 2.1rem;
  }
  .page-container-ds {
    padding-left: 0.4rem;
}

.MuiDataGrid-main .css-204u17-MuiDataGrid-main{
  border-radius: 0px;
}
.css-f3jnds-MuiDataGrid-columnHeaders {
  border-radius: 0px!important;
}
.css-1xy1myn-MuiDataGrid-root{
border-radius: 0px!important;
color:#4B4B4B!important;
}
.MuiDataGrid-footerContainer {
  display: none!important;
  }
  .MuiDataGrid-cell{
  border: 1px solid rgba(224, 224, 224, 1)!important;
}
.css-i4bv87-MuiSvgIcon-root{
  display:none!important;
}
.site-map-heading{
  margin-bottom: 0.5rem;
  margin-top: 2.3rem;
}
.site-map-ul{
 list-style-type: none;
}
.site-map-ul li{
 margin-left:0px;
 margin-bottom: 0px;
}
.dataset-info {
margin-bottom: calc(var(--s0) + var(--ratio));
font-size: 1rem;
}
.dataset-info ol li, .dataset-info ul li {
  margin-bottom: calc(var(--s0) + var(--ratio));
  font-size: 1rem;
  line-height: 2rem; 
}
.dataset-info a {
  font-size: 1rem; 
}
.dataset-info h3 {
  margin-top: calc(var(--s-2) + var(--ratio));
  margin-bottom: calc(var(--s-sm) + var(--ratio)); 
}
.dataset-info .h4 {
  font-size: 1.5rem;
}
.dataset-info .h5 {
  font-size: 1rem;
  line-height: 2rem;
  font-weight: bold;
}


/* topic-results Popular datasets*/
.topic-popular-container {
  margin-bottom:1rem;
}
.topic-popular-cards-container {
  display:flex;
  gap:1rem;
}
.topic-popular-dataset {
  border:1px solid #d4d4d4;
  border-radius:0.5rem;
  background:#fafafa;
  flex:1;
  padding:1em;
  text-decoration: none;
  color:#000;
  display: flex;
  flex-direction: column;
}
.topic-popular-dataset:hover, .topic-popular-dataset:active {
  border:1px solid #a4a4a4;
}
.topic-recentviews {
  margin-top:1.6rem;
}
.topic-recentviews span {
  font-size: 2rem;
  color: #046a99;
}
.topic-popular-container .dataset-icon {
  width:2rem;
  display:block;
  float:left;
  margin-right:1em;
}
.topic-organization {
  flex-grow: 1;
}

/* Popular datasets */
.organization-info {
  margin-bottom: 2rem;
}
.cagov-popular-datasets {
  grid-area: popular;
  margin-bottom: 3rem;
}
.popular-datasets-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 273px));
  grid-gap: 1rem;
}
.popular-dataset-card {
  background: #FAFAFA;
  border: 1px solid #D4D4D4;
  border-radius: 5px;
  padding: 1rem;
  width: 275px;
  min-height: 190px;
  display: grid;
  grid-template-rows: 1fr auto;
  text-decoration: none;
  grid-row-gap: 1rem;

}

.popular-dataset-card:hover, .popular-dataset-card:active {
  border:1px solid #a4a4a4;
}
.popular-dataset-card p {
  margin-bottom: 0;
  font-size: 1.125rem;
  line-height: 2rem;
  font-weight: 700;
  color: #4B4B4B;


}
.popular-dataset-card .dataset-title {
  font-weight: 700;
  font-size: 1.4375rem;
  line-height: 	2.3125rem;
}
.popular-dataset-card .large-text {
  font-weight: 400;
  font-size: 2.3125rem;
  line-height: 2rem;
  color: #046A99;
  background: transparent;
}

/*header navigation*/
cagov-site-navigation .expanded-menu-section-header span {
  font-size: 18px!important; /*made same sizing for header per sr*/
}

cagov-site-navigation .expanded-menu-section-header-link {
  font-size: 18px!important; /*made same sizing for header per sr*/
}
/*contact forms updates sr*/
.contact-form label span {
  font-weight: 400; /*made same sizing for header per sr*/
}
.contact-form textarea::placeholder{
  font-weight: 200;
  font-size: medium;
  color:#72717C;
  padding-left: .3rem;
}
/* Contact form error styles */
.contact-form-alert {
  display: none;
  grid-template-columns: auto 1fr;
  grid-column-gap: .5rem;
  align-self: baseline;
  font-size: 1.125rem;
  line-height: 2rem;
  background: #FCE9E8;
  color: #B91B37;
  padding: .5rem 0;
  border-left: .25rem solid #B91B37;
  align-items: center;
  max-width: 595px;
  margin: 2.5rem 0;
}
.contact-form-alert svg {
  margin-left: 1rem;
}
.contact-form-alert p {
  padding: 0;
  margin: 0;
}
@media (max-width: 767px) {
  .contact-form-alert p {
    line-height: 1rem;
  }
  .input-error-text {
    padding-top: .25rem;
    line-height: 1.25rem;
  }
}
.input-error {
  position: relative;
}
.input-error>input{
  border-bottom: 4px solid #B91B37!important;
}
.input-error>select{
  border-bottom: 4px solid #B91B37!important;
}
.input-error>textarea{
  border-bottom: 4px solid #B91B37!important;
}
.input-error-icon {
  position: absolute;
  display: inline-block;
  right: 16px;
  top: 46px;
  display: none;
}
.input-error-text {
  color: #B91B37;
  display: none;

}